"*":
  "activate-power-mode":
    playAudio: {}
    plugins:
      playAudio: true
      screenShake: true
  core:
    disabledPackages: [
      "language-gfm"
      "linter-sass-lint"
      "linter-scss-lint"
      "rubocop-auto-correct"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
    scrollPastEnd: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "c90acbee-613c-4dad-b5c9-fb50f4a3f9fc"
  jslint:
    hideOnNoErrors: true
  "linter-eslint":
    autofix:
      fixOnSave: true
  "linter-rubocop":
    disableWhenNoConfigFile: true
    fixOnSave: true
    useBundler: true
  "linter-ui-default":
    showPanel: true
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
    notification: false
  "spell-check":
    useLocales: false
  "tree-view": {}
  welcome:
    showOnStartup: false
